/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Common */
:root {
  --coefficient: 1;
  --coefficient-2: 1;
}

html {
  font-family: "Circular Std";
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-align {
  text-align: right;
}

body {
  background: #000000;
  -webkit-transition: 300ms opacity ease-out;
  -o-transition: 300ms opacity ease-out;
  transition: 300ms opacity ease-out;
}

.container {
  max-width: 1600px;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1;
}

.background.over img {
  height: 108%;
}

.background.right {
  right: unset;
  left: 0;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


quote {
  border-right: 1px solid #1E57D6;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  line-height: 18px;
}

.hide {
  opacity: 0;
}

.none {
  display: none;
}


/* Main title */
.main-title {
  font-size: 100px;
  line-height: 126px;
  color: white;
  font-weight: bold;
  margin-top: calc(120px * var(--coefficient));
  margin-bottom: calc(30px * var(--coefficient));;
}

.main-title.small {
  font-size: 90px;
  line-height: 113px;
}

div#section1 .main-title,
div#section2 .main-title,
div#section3 .main-title {
  margin-top: calc(120px * var(--coefficient-2));
  margin-bottom: calc(30px * var(--coefficient-2));;
}

.blue {
  color: #1E57D6;
}

.transparent {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

/* Main description */
.main-description {
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: calc(30px * var(--coefficient));
}

/* List */
main {
  margin-top: calc(60px * var(--coefficient));
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .list:not(:first-child) {
  margin-left: 100px;
}

.list .title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: calc(50px * var(--coefficient));
  font-weight: bold;
}

.list .item {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  line-height: 23px;
  color: white;
  margin-bottom: 20px;
}

.list .item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  left: 0;
  background: url("../assets/icons/ellipse.svg");
}

/* Mouse */
.mouse {
  margin-top: auto;
}

.mouse .content {
  display: inline-block;
  margin-top: calc(80px * var(--coefficient));
  border-radius: 30px;
  border: 1px solid #1E57D6;
  padding: 18px 40px;
  padding-left: 60px;
  color: white;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.mouse .content::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 22px;
  top: 50%;
  margin-top: -10px;
  left: 35px;
  background: no-repeat url("../assets/icons/mouse.svg") 50% 50% / 100%;
}

/* Cards */
main .card-list:not(:first-child) {
  margin-left: 150px;
}

.card {
  max-width: 400px;
  margin-bottom: calc(60px * var(--coefficient-2));
}

.card-list .card:last-child {
  margin-bottom: 0;
}

.card .title {
  color: #1E57D6;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}

.card .description {
  color: white;
  font-size: 16px;
  line-height: 22px;
}

/* Five div */
.as-background-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.as-background-wrapper img {
  position: absolute;
  height: 100%;
  -webkit-transform: translate(-18%, 15%);
      -ms-transform: translate(-18%, 15%);
          transform: translate(-18%, 15%);
}

.coming {
  color: white;
  background: #141414;
  padding: 18px 40px;
  margin-left: auto;
  border-radius: 50px;
  border-top-right-radius: 0;
  margin-bottom: calc(40px * var(--coefficient));
}

div#section4 {
  position: relative;
}

div#section4.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  transform: translateY(100%);
  transition: transform 900ms cubic-bezier(0.76, 0, 0.24, 1);
}

div#section4.top {
  top: 100%;
}

div#section4.absolute.show {
  top: 0;
  transform: translateY(0%)
}

div#section4 form {
  margin-left: auto;
  margin-top: auto;
}

div#section4 .description {
  color: white;
  margin-bottom: 30px;
}

div#section4 .form-wrapper {
  margin-bottom: calc(60px * var(--coefficient));
  position: relative;
  left: 20px;
}

div#section4 .form-wrapper input {
  background: none;
  margin: 0;
  outline: none;
  border-radius: 12px;
  padding: 20px 30px;
  min-width: 300px;
  border: 1px solid #343434;
  font-family: "Circular Std";
  color: white;
}

div#section4 .form-wrapper button {
  background: #1E57D6;
  color: white;
  border-radius: 12px;
  outline: none;
  border: none;
  padding: 0 40px;
  position: relative;
  left: -20px;
}

/* Media */
@media only screen and (max-width: 1100px) {
  .main-title {
    font-size: 80px;
    line-height: 106px;
  }

  .main-title.small {
    font-size: 70px;
    line-height: 96px;
  }
}

@media only screen and (max-width: 900px) {
  .card-list:not(:first-child) {
    margin-top: calc(60px * var(--coefficient-2));
  }
  
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main .list,
  main .list:not(:first-child),
  main .card-list:not(:first-child) {
    margin-left: 0;
  }

  main .title.hide {
    display: none;
  }

  .main-title {
    font-size: 60px;
    line-height: 86px;
  }

  .main-title.small {
    font-size: 50px;
    line-height: 66px;
  }

  quote {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .main-title,
  .main-title.small {
    font-size: 30px;
    line-height: 48px;
  }

  .background, .as-background {
    display: none;
  }

  .list .title {
    font-size: 27px;
    line-height: 37px;
  }

  div#section4 form {
    display: none;
  }
}